doctype html
html(lang='en')
  head
    title LeoStella Careers
    script(src="//kit.fontawesome.com/ff579d98bf.js" crossorigin="anonymous")
    link(href="style.css" rel="stylesheet" type="text/css")
  
body
  // Start Header
  link(rel="preconnect" href="//fonts.gstatic.com")
  link(href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap" rel="stylesheet")
  header
    a.logo(href='//leostella.applytojob.com/')
      img(src='//assets.jazz.co/customers/customer_20180613233251_ZUP75BVPUAC3DNKL/layout/LeoStella__logo.jpg' height='55')
    nav
      ul
        li
          a(href='https://leostella.com/') Home
        li
          a(href='https://leostella.com/team') Team
        li
          a(href='https://leostella.com/blog') In the News
        li
          a(href='https://leostella.com/contact') Contact
  // End Header
  // Start Body
  main(style='background-image: URL(//assets.jazz.co/customers/customer_20180613233251_ZUP75BVPUAC3DNKL/layout/staticbgforjobboard0.jpg);')
    .container
      section.job-board
        .notifications
          resumator(content="messages")
        .intro
          resumator(content="introduction")
        .jobs
          resumator(content="job_listings" layout="table")
  // End Body
  // Start Footer
  footer
    .container
      .foot-brand
        resumator(content="logo" width="116" link="//leostella.applytojob.com/")
      nav.foot-menu
        ul
          li
            a(href='https://leostella.com/') Home
          li
            a(href='https://leostella.com/team') Team
          li
            a(href='https://leostella.com/blog') In the News
          li
            a(href='https://leostella.com/contact') Contact
      .foot-right
        .fr-logos
          img(width="245" height="95" src="//assets.jazz.co/customers/customer_20180613233251_ZUP75BVPUAC3DNKL/layout/footer-1.jpg")
        .fr-contact
          ul
            li
              | 12501 E Marginal Way S
            li
              | Suite# 100
            li
              | Phone: 
              a(href="tel:+12064559214")
                | 206.455.9214
            li
              | Email: 
              a(href="mailto:info@leostella.com")
                | info@leostella.com
            li
              | Web: 
              a(href="https://leostella.com")
                | https://leostella.com
  // End Footer